:root {
  --color-secondary: #025939;
  --color-secondary-hover: #014029;

  /* base colors (light mode) */
  --color-bg: #f4f4f4;
  --color-text: #1a1a1a;
  --color-surface: #ffffff;
  --color-text-heading: #025939;
  --color-border: #e5e5e5;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /* Typography */
  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  --font-size-base: 18px;
  --font-size-title: 6rem;
  --font-size-h1: 56px;
  --font-size-h2: 24px;

  /* Navbar */
  --nav-bg: #ffffff;

  /* Global */
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: 1.45;

  color: var(--color-text);
  background: var(--color-bg);

  color-scheme: light dark;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1f5c3f;
    --color-surface: #2c6b4a;
    --color-text: #E8f2ed;
    --color-text-heading: #fdfaf6;
    --color-border: #2f7a56;

    --color-secondary: #025939;
    --color-secondary-hover: #014029;

    --nav-bg: #0a2718;
  }
}

html, body, #root {
  height: 100%;
}

/* Layout */
body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

 

/* Typography */
h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-text-heading);
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

/* button system */
.button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
   transition: all 0.15s ease;
}

.button-secondary {
  background: var(--color-secondary);
  color: var(--color-text-heading);
  border: 1px solid var(--color-border);
}

.button:active {
  transform: scale(0.97);
}